{
  "projects": {
    "default": "your-firebase-project-id"
  },
  "targets": {
    "your-firebase-project-id": {
      "hosting": {
        "prod": [
          "your-prod-site-name"
        ],
        "dev": [
          "your-dev-site-name"
        ]
      }
    }
  },
  "etags": {}
}

